*{
    margin: 0;
    padding: 0;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: #333;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
header
{
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
}
header img
{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 0.5px solid rgb(18, 14, 14);
}
header p{
    color: #555;
}
header a
{
    text-decoration: none;
    color: #555;
}
nav
{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav a{
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}
nav a:hover{
    background-color: #555;
}
h2
{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}
hr
{
    margin-bottom: 20px;
}
#Skills
{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.sk
{
    background-color: rgb(232, 231, 231);
    padding: 15px;
    border: 2px solid white;
    border-left: 5px solid black;
    margin-bottom: 5px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

thead {
    background-color: rgb(202, 202, 202);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #26a7a0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1f8b85;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #888;
}